.content {
    padding-top: 56px;
    padding-bottom: 60px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bold {
    font-weight: 700;
    font-style: bold;
}
.content-section {
    padding: 60px 5%;
}

.typewrite {
  color: #20c20e
}

.navbar {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #c3c3c3;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}


/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}

.scrolling-wrapper {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  white-space: wrap;
}

.card {
  flex: 0 0 auto;
  margin-right: 10px;
  width: 200px;
}
.card-portfo {
  flex: 0 0 auto;
  margin: 10px;
  width: 100%;
}
.contact-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-form h2 {
    margin-bottom: 20px;
}
/* Parallax Section */
.parallax {
  background-image: url('./assets/parallax.JPG'); /* Replace with your image */
  width: 100%;
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-content {
  color: white;
  text-shadow: 3px 3px 10px #000000;
  text-align:center;
  padding: 100px 60px;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}
footer {
  background-color: #232323;
  padding:20px 0;
  text-align: center;
}
footer a {
  margin: 0 15px;
  color: #ffffff;
  text-decoration: none;
}

footer p {
  color: #ffffff;
}
footer a:hover {
  text-decoration: underline;
}